$text-color: #333;
$text-color-alt: #777;
$link-color: #efefef;
$title-color: white;
$background-color: teal;
$background-color-alt: #f3f3f3;

$border-width: 1px;
$border-style: solid;
$border-color: #ddd;
$border-color-alt: white;
$border-radius: 4px;

$padding-side: 0.5rem;
