$text-colot: #eee;
$link-color: #efefef;
$background-color: black;

$clock-size: 200px;
$clock-border-thickness: 2px;
$clock-border-color: teal;
$clock-background-color: #444;
$clock-text-color: white;
